@font-face {
    font-family: gilmer;
    src: ('../font/Gilmer-Light.otf')
}

.disable-scroll {
    overflow: hidden;
}

.fm-gilmer {
    font-family: gilmer;
}

.pointer {
    cursor: pointer;
}

.border {
    border: 1px solid rgba(169, 163, 255, 0.3) !important;
}

.box-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}