:root {
    --default: #2BBBAD;
    --default-dark: #00695c;
    --success: #00C851;
    --success-dark: #007E33;
    --danger: #ff4444;
    --danger-dark: #CC0000;
    --warning: #ffbb33;
    --warning-dark: #FF8800;
    --primary: #4285F4;
    --primary-dark: #0d47a1;
    --info: #33b5e5;
    --info-dark: #0099CC;
    --secondary: #aa66cc;
    --secondary-dark: #9933CC;
    --night: #37474F;
    --night-dark: #263238;
    --white: #fff;
    --white-fade-1: #eaeaea;
    --muted: #d0d6e2;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}